/*
font-family: 'Dosis', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
*/

@charset "utf-8";

:root {
    --main-color: #EED1AC;
    --secondary-color: #A77D48;
    --tertiary-color: #E5BE8A;
    --body-color: #36393B;
    /*--title-color: #A77D48;*/
    --main-font: 'Montserrat', sans-serif;
    --title-font: 'Lora', serif;
    --h3-font: 'Kaushan Script', cursive;
    --price-font: 'Dosis', sans-serif;
    --h1-font-size: 2.125rem;
    --h1-first-letter: 2.375rem;
    --h2-font-size: 1.5rem;
    --h2-first-letter: 1.875rem;
    --h3-font-size: 1.5rem;
    --price-font-size: 1.25rem;
    --section-padding-y: 5rem;
    --mobile-padding-x: 1.875rem;
}

button {
    --button-width: 134px;
    --button-height: 44px;
    --button-font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    color: var(--body-color);
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: var(--h1-font-size);
    color: var(--main-color);
    text-transform: uppercase;
    line-height: 2.375rem;
}

h1 span.first-letter {
    font-size: var(--h1-first-letter);
}

h1 span.line-break {
    color: var(--secondary-color);
}

h2 {
    font-family: var(--title-font);
}

h3 {
    font-family: var(--h3-font);
    font-size: var(--h3-font-size);
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

svg {
    display: block;
}

.section-py {
    padding-top: var(--section-padding-y);
    padding-bottom: var(--section-padding-y);
}

.mobile-px {
    padding-left: var(--mobile-padding-x);
    padding-right: var(--mobile-padding-x);
}

svg.logo-meloha, svg.logo-m {
    fill: var(--main-color);
}


/* HEADER */

header {
    padding: 1.25rem 0 1.25rem 1.25rem;
}

header .menu-burger .facebook, header .menu-burger .instagram {
    height: 60px;
    fill: var(--body-color);
}

header .menu-burger .social-networks {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 190px;
}

header .link-menu li a {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--body-color);
}

header .menu-inline .social-networks {
    display: flex;
    padding-left: 0;
}

header .menu-inline .social-networks svg {
    height: 20px;
}

header svg.logo-m, header svg.logo-meloha {
    height: 46px;
}

/* FOOTER */

footer {
    background-color: var(--main-color);
    color: var(--body-color);
}

footer .content-01, footer .content-02, footer .content-03 {
    width: 302px;
}

footer .content-01, footer .content-02 {
    border-bottom: 1px solid var(--secondary-color);
}

footer .content-01, footer .content-02 {
    padding-bottom: 2.5rem;
}

footer .content-02, footer .content-03 {
    padding-top: 2.5rem;
}

footer h2 {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 1.375rem;
    text-transform: uppercase;
    color: var(--secondary-color);
}

footer h2 span.first-letter {
    font-size: 1.625rem;
}

footer .content-01 p, footer .content-02 li a {
    font-size: 0.8125rem;
}

footer a {
    color: var(--body-color);
}

footer .content-03 a {
    font-size: 0.875rem;
}

footer .content-03 svg {
    height: 15px;
    fill: var(--body-color);
}

footer .content-03 a:hover svg {
    fill: var(--secondary-color);
}

/******************** HOMEPAGE ********************/

/* JUMBOTRON */

#homepage .jumbotron {
    background-color: var(--main-color);
    width: 100%;
    height: 580px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    text-align: center;
}

#homepage .jumbotron .container-le {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#homepage .jumbotron svg {
    fill: var(--tertiary-color);
    width: 325px;
}

#homepage .jumbotron h1 {
    color: var(--tertiary-color);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
    line-height: 3.75rem;
}

/* BIENVENUE */

#homepage #bienvenue svg.logo-m {
    width: 80px;
    margin-bottom: 40px;
    /*display: none;*/
}

#homepage #bienvenue div.split {
    width: 80px;
    height: 2px;
    background-color: #F2CCC3;
}

#homepage #bienvenue p {
    margin-top: 8px;
    margin-bottom: 0px;
}

/* PRESTATIONS */

#homepage .prestations .category {
    width: 100%;
    height: 667px;
}

#homepage .prestations .category .up {
    height: 375px;
    background-color: #EAE5E5;
    background-size: 100%;
    background-repeat: no-repeat;
}

#homepage .prestations .category .hair-removal {
    background-image: url("../images/hair-removal-375.jpg");
    
}

#homepage .prestations .category .nail {
    background-image: url("../images/nail-375.jpg");
}

#homepage .prestations .category .eyelash {
    background-image: url("../images/eyelash-375.jpg");
}

#homepage .prestations .category .care {
    background-image: url("../images/care-375.jpg");
}

#homepage .prestations .category .down {
    height: 292px;
}

#homepage .prestations .category div.down.bg-01 {
    background-color: var(--secondary-color);
}

#homepage .prestations .category div.down.bg-02 {
    background-color: var(--main-color);
}

#homepage .prestations .category .icon-category {
    fill: var(--main-color);
    width: 60px;
    height: 60px;
    margin-bottom: 1.5rem;
}

#homepage .prestations .category h2 {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: var(--h2-font-size);
    color: var(--tertiary-color);
    text-transform: uppercase;
}

#homepage .prestations .category h2::first-letter {
    font-size: var(--h2-first-letter);
}

#homepage .prestations .category p {
    color: #FFFFFF;
    width: 80%;
}

/* ABOUT */

#homepage #about p.sign {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 1.5625rem;
    color: var(--main-color);
    text-transform: uppercase;
    line-height: 24px;
    margin-top: 30px;
}

#homepage #about .collapsible {
    overflow: hidden;
    height: 653px;
    transition: height 0.5s ease-out;
}

#homepage #about .collapsed {
    height: 1682px;
}

#homepage #about button#btn-open, #homepage #about button#btn-close {
    width: 160px;
    height: var(--button-height);
    background-color: var(--main-color);
    color: #FFFFFF;
}

#homepage #about p.sign span.about {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #36393B;
    text-transform: none;
}

/* INFO */

#homepage #info div.map {
    height: 667px;
    background-image: url("../images/map-375.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#homepage #info .schedule {
    color: var(--body-color);
    background-color: var(--main-color);
}

#homepage #info h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1.4375rem;
    color: var(--secondary-color);
    text-transform: uppercase;
}

#homepage #info h2 span.first-letter {
    font-size: 1.625rem;
}

#homepage #info .opening, #homepage #info .contact {
    width: 300px;
    margin: 0 auto;
}

#homepage #info .opening .border-opening {
    border-bottom: 1px solid var(--tertiary-color);
}

#homepage #info .contact {
    color: var(--secondary-color);
}

#homepage #info .contact svg.icon-contact {
    width: 40px;
    height: 45px;
    fill: var(--secondary-color);
    margin-right: 18px;
}

#homepage #info .contact svg.icon-contact .st0 {
    fill:none;
    stroke:var(--secondary-color);
    stroke-width:1.7915;
    stroke-miterlimit:10;
}

#homepage #info .contact h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: uppercase;
}

#homepage #info .contact h3 span.first-letter {
    font-size: 1.25rem;
}

#homepage #info .contact p {
    font-size: 0.9375rem;
}

/* FORM */
/*
#homepage .form h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 2.125rem;
    text-transform: uppercase;
    line-height: 38px;
}

#homepage .form h2 span.first-letter {
    font-size: 2.375rem;
}
*/
#homepage .form span.split {
    display: block;
    width: 80px;
    height: 2px;
    background-color: #F2CCC3;
    margin-bottom: 10px;
}

#homepage .form p {
    font-size: 0.875rem;
}

#homepage .form div.content-01 {
    margin-bottom: 60px;
}

#homepage .form div.content-02 form {
    width: 315px;
}

#homepage .form div.content-02 form .form-control, #homepage .form div.content-02 form .form-select {
    margin-bottom: 1rem;
    border-radius: 0;
    border-color: var(--body-color);
}

#homepage .form div.content-02 form .form-control::placeholder {
    color: var(--body-color);
}

#homepage .form div.content-02 form button.btn-style {
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--secondary-color);
    color: #FFFFFF;
    font-weight: var(--button-font-weight);
}

#homepage .form div.content-03 svg {
    height: 100px;
    margin-top: 80px;
}

/******************** PRICES ********************/

#prices svg.divider {
    width: 270px;
    height: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
}

#prices svg.divider .st0 {
    fill:none;
    stroke:var(--main-color);
    stroke-width:0.5;
}

#prices .prices .waxing, #prices .prices .nail-beauty, #prices .prices .beauty-of-the-look, #prices .prices .cares {
    width: 100%;
}

#prices .prices h2 {
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    
}

#prices .prices h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

#prices .prices .info {
    font-size: 0.875rem;
}

#prices .prices .price-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-color);
    padding-top: 15px;
    padding-bottom: 15px;
}

#prices .prices .price-list p {
    margin-bottom: 0;
}

#prices .prices .price-list p:nth-child(3) {
    /*font-family: var(--price-font);
    font-size: var(--price-font-size);
    font-weight: 400;
    align-self: center;*/
}

#prices .prices .price-list p:last-child {
    font-family: var(--price-font);
    font-size: var(--price-font-size);
    font-weight: 400;
    align-self: center;
}

#prices .prices .price-list span.asterisk {
    font-size: 0.75rem;
}

/* FORM */

#prices .form {
    padding-bottom: 80px;
}

#prices .form span.split {
    display: block;
    width: 80px;
    height: 2px;
    background-color: #F2CCC3;
    margin-bottom: 10px;
}

#prices .form p {
    font-size: 0.875rem;
}

#prices .form div.content-01 {
    margin-bottom: 60px;
}

#prices .form div.content-02 form {
    width: 315px;
}

#prices .form div.content-02 form .form-control, #prices .form div.content-02 form .form-select {
    margin-bottom: 1rem;
    border-radius: 0;
    border-color: var(--main-color);
}

.form div.content-02 form .form-control::placeholder, .form div.content-02 form .form-select option {
    color: #685F74!important;
}

#prices .form div.content-02 form button.btn-style {
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--secondary-color);
    color: #FFFFFF;
    font-weight: var(--button-font-weight);
}

#prices .form div.content-03 svg {
    height: 100px;
    margin-top: 80px;
}